{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}